# Python bytecode / caches
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS cruft
.DS_Store
Thumbs.db

# Build/packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Data (keep the folder, ignore contents)
data/**/*
!data/.gitkeep
